{% extends "base.html" %}

{% block content %}
<br>
<br>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6">

        <form action="{{ url_for('pscheduler_query') }}" method="post">
            <label for="pscheduler_source">Pscheduler Source:</label>
            <input class="form-control" id="pscheduler_source" name="pscheduler_source" placeholder="ex. dtn01-dmz.chpc.utah.edu">
            <label for="pscheduler_dest">Pscheduler Destination:</label>
            <input class="form-control" id="pscheduler_dest" name="pscheduler_dest" placeholder="ex. google.com">
            <label for="numRuns">Number of traceroutes to run:</label>
            <input class="form-control" id="numRuns" name="numRuns" value="1" type="number" max=10 min=1>
            {{ form.submitBtn() }}
        </form>
    </div>
</div>


{% endblock %}